@import "./components.less";

main {
    display:grid;
    height: 100vh;

    grid-template: 1fr 15vh 1fr / 
                   1fr 80vw 1fr
    ;

    grid-template-areas: ". . ."
                         ". auth-form ."
                         ". . ."
    ;
    
    /* для планшетов и фаблетов */
    @media (min-width: 481px) and (max-width:768px) {
        grid-template: 1fr 15vh 1fr / 
                       1fr 50vw 1fr
        ;
        grid-template-areas: ". . ."
                             ". auth-form ."
                             ". . ."
        ;
    }
    /* для декстопов */
    @media (min-width:769px) {

        grid-template-rows: 1fr 15vh 1fr;
        grid-template-columns: 1fr 30vw 1fr;

        grid-template-areas: ". . ."
                         ". auth-form ."
                         ". . ."
        ;
    }


    /* для широкх десктопов */
    @media (min-width:1281px) {

        // input, button {
        //     font-size: 24pt;
        // }

        grid-template-rows: 1fr 15vh 1fr;
        grid-template-columns: 1fr 25vw 1fr;

        grid-template-areas: ". . ."
                             ". auth-form ."
                             ". . ."
        ;
    }

    .form-auth {
        grid-area: auth-form;
        display:grid;

        grid-template: 1fr 1fr var(--sizes-xs) 1fr / 1fr 1.5fr 1fr;
        grid-template-areas: "login login login"
                            "pass pass pass"
                            ". . ."
                            ". auth ."
        ;

        .login {
                grid-area: login;
        }
            
        .pass {
            grid-area: pass;
        }

        .action {
            .main-color;
            grid-area: auth;
        }
    }
}