@import "./components.less";

main {
    display:grid;
    display: none;
    height: 100vh;

    grid-template: 1fr 15vh 1fr / 
                   1fr 80vw 1fr
    ;

    grid-template-areas: ". . ."
                         ". auth-form ."
                         ". . ."
    ;
    
    /* для планшетов и фаблетов */
    @media (min-width: 481px) and (max-width:768px) {
        grid-template: 1fr 15vh 1fr / 
                       1fr 50vw 1fr
        ;
        grid-template-areas: ". . ."
                             ". auth-form ."
                             ". . ."
        ;
    }
    /* для декстопов */
    @media (min-width:769px) {

        grid-template-rows: 1fr 15vh 1fr;
        grid-template-columns: 1fr 30vw 1fr;

        grid-template-areas: ". . ."
                         ". auth-form ."
                         ". . ."
        ;
    }


    /* для широкх десктопов */
    @media (min-width:1281px) {

        // input, button {
        //     font-size: 24pt;
        // }

        grid-template-rows: 1fr 15vh 1fr;
        grid-template-columns: 1fr 25vw 1fr;

        grid-template-areas: ". . ."
                             ". auth-form ."
                             ". . ."
        ;
    }

    .form-auth {
        grid-area: auth-form;
        display:grid;

        grid-template: 1fr 1fr var(--sizes-xs) 1fr / 1fr 1.5fr 1fr;
        grid-template-areas: "login login login"
                            "pass pass pass"
                            ". . ."
                            ". auth ."
        ;

        .login {
                grid-area: login;
        }
            
        .pass {
            grid-area: pass;
        }

        .action {
            .main-color;
            grid-area: auth;
        }
    }
}

.user-form {
    width: 100vw;
    height: 100vh;
    padding: 5% 25%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    grid-template-areas: "users" 
                         "actions"
    ;
    gap: var(--sizes-l);
    
    .user-list {
        grid-area: users;
        display: grid;

        button {
            font-size: 20pt;
            border-radius: 0;
            border: none;
            text-align: left;
            border-bottom: var(--border-width) solid var(--border-color);
        }
    }
    
    .action-form {
        grid-area: actions;
        display: grid;
        grid-template: 80px / min-content min-content;
        grid-template-areas: "actions list";
        justify-content: space-between;
        gap: var(--sizes-l);
        
        .action-panel {
            grid-template-columns: repeat(2, 160px);
            grid-template-rows: 1fr;
            justify-content: center;
            align-content: stretch;
        }
        .list-buttons {
            grid-area: list;
            button {
                width: 80px;
            }
        }
    }
}