@import "./components.less";

.content {
    display:grid;
    height: 100%;
    width: 100%;
    padding: 3px 3px;
    
    grid-template-rows: 1fr var(--sizes-xl);
    grid-template-areas: "main" 
                         "footer"
    ;

    gap: var(--sizes-xs, 0.25rem);

    & > main {
        grid-area: main;
        
        display:grid;
        grid-template: 1fr 1fr /
                       1fr 80px calc(50vh - 80px)
        ;
        grid-template-areas: "top-left top-right top-right"
                             "bottom-left bottom-middle bottom-right"
        ;
        gap: var(--sizes-s);
        
        .order-history-form {
            grid-area: 1 / 1 / 2 / 6;
            display: grid;
            
            grid-template   : 1fr 150px 1fr / 1fr 75px;
            grid-template-areas: "orders ."
                                 "orders list-buttons"
                                 "orders . "
            ;
            gap: var(--sizes-s);
            content: center;

            .orders {
                display: grid;
                grid-area: orders;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr 1fr;
                gap: var(--sizes-s);

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: auto;
                
                .order {
                    display: flex;
                    flex-direction: column;
                    gap: var(--sizes-s);
                    header {
                        font-size: 16pt;
                        font-weight: bold;
                        text-align: center;
                    }
                    table {
                        tr {
                            grid-template-columns: 1fr 6ch;
                        }
                    }
                    .main-color;
                    .border;
                }
            }

            // .list-buttons .vertical moved to components.less
            .list-buttons {
                grid-area: list-buttons;
            }
            .vertical {
                flex-direction: column;
                gap: var(--sizes-s);
                img {
                    width: 80%;
                    height: 80%;
                }
            }

        }

        // .list-buttons moved to components.less

        .top-left {
            grid-area: top-left;
            
            display:grid;

            gap: var(--sizes-s);
            grid-template: 80px 1fr /
                           80px 1fr
            ;
            grid-template-areas: "header-left header-right"
                                 "main main"
            ;

            .settings {
                grid-area: header-left;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 85%;
                }
            }
            .news {
                grid-area: header-right;

                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--sizes-xs);

                :first-child {
                    font-size: 16pt;
                    font-weight: 500;
                }
                
                :last-child {
                    font-size: 10pt;
                }
            }
            & > main {
                grid-area: main;
                .border;

                display:grid;
                grid-template: 1fr var(--sizes-l) / 1fr;
                gap: var(--sizes-xs);

                .bonus-card-info {
                    display:grid;
                    grid-auto-rows: 20%;
                    row-gap: var(--sizes-xs);

                    .item {
                        .corner-rounding;
                        border: none;
                        border-radius: 0;
                        .main-color;
                        display: flex;
                        padding: 0 var(--sizes-m);
                        align-items: center;
                        gap: var(--sizes-l);
                        img {
                            width: fit-content;
                            height: 80%;
                        }   
                        font-size: 12pt;
                    }
                }
                .hint {
                    display:flex;
                    align-items: center;
                    gap: var(--sizes-xs);
                    padding: 0 var(--sizes-xs);
                    background-color: #ffefc5;
                    
                    .icon {
                        width: var(--sizes-l);
                        height: var(--sizes-l);
                        
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        .border;
                        border-radius: 50%;
                        font-family: Segoe UI Symbol;
                        font-size: var(--sizes-l);
                        .main-color;
                    }
                    p {
                        font-size: calc(var(--sizes-m) + var(--sizes-xs));
                        font-style: italic;
                        font-weight: bold;
                    }
                }
            }

        }
        .top-right {
            grid-area: top-right;
            
            
            .filling-places {
                padding: 3% 3%;
                width: 100%;
                height: 100%;
                display: grid;
                
                grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
                gap: 5%;
                grid-template-areas: "11 12 13"
                                     "21 22 23"
                                     "31 32 33"
                ;

                .place {
                    display:grid;   
                    gap: var(--sizes-xs);

                    grid-template-rows: 1fr min-content;

                    button {
                        font-size: 2em;
                        text-transform: uppercase;
                    }
                    
                    label {
                        height: 1.1em;
                        font-size: 1.1em;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                .active {
                    .enabled;
                    border-bottom: var(--border-width) solid var(--border-color);
                }
                .enabled {
                    .place;
                }

                .disabled { 
                    .place;
                    button {
                        background-color: var(--place-color-disabled);
                    }
                }

                .filling {
                    .active;
                    button { background-color: var(--place-color-filling); }
                }

                .filled {
                    .active;
                    button {background-color: var(--place-color-filled);}
                }
                
                .returning {
                    .active;
                    button {background-color: var(--place-color-returning);}
                }
            }
            
            .places-input-form {
                height: fit-content;

                padding: var(--sizes-l);
                display: grid;
                
                grid-template-rows: 1fr 150px;
                grid-template-columns: 1fr;
                grid-template-areas: "fuel-type"
                                     "form-fields"
                ;
                gap: var(--sizes-m);
                
                .fuel-type {
                    display: flex;
                    justify-content: center;
                    
                    button {
                        height: 100px;
                        width: 100px;
                    }
                    .form {
                        display: grid;
                        
                        gap: var(--sizes-s);
                        justify-items: stretch;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        grid-template-areas: "a95 dp lpg"
                                             "m95 mdp nf"
                        ;
                        .a95 {grid-area: a95;}
                        .m95 {grid-area: m95;}
                        .dp {grid-area: dp;}
                        .mdp {grid-area: mdp;}
                        .lpg {grid-area: lpg;}
                        .nf {grid-area: nf;}
                    }
                }

            }

            .product-catalog {
                display:grid;
                
                
                width: 100%;
                height: 100%;
                grid-template: repeat(4, 1fr) / repeat(4, 1fr);
                gap: var(--sizes-xs);

                .item {                    
                    display:flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    
                    padding: var(--sizes-xs) 0;
                    img {
                        width: 60%;
                        height: 48px;
                    }
                    p {
                        grid-area: text;
                        font-size: 12pt;
                        width: 100%;
                        height: fit-content;
                    }
                }
                .fast-food { background-color: var(--product-fast-food); }
                .healthy-food { background-color: var(--product-healthy-food); }
                .bakery { background-color: var(--product-bakery); }
                .baverages { background-color: var(--product-baverages); }
            }
        }
        .bottom-left {
            grid-area: bottom-left;
            
            display:grid;
            grid-template-rows: 48px 1fr;
            gap: var(--sizes-xs);


            header {
                display:flex;
                justify-content: space-between;

                gap: var(--sizes-s);

                .tabs-pannel {
                    display:flex;
                    gap:var(--sizes-xs);

                    .tab {
                        max-width: 128px;
                        gap: var(--sizes-xs);
                        display: flex;
                        align-items: center;
                        padding: var(--sizes-s);
                    }
                    .active {
                        .main-color;
                    }

                    .create-tab {
                        width: 48px;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            main table {
                tr {
                    grid-template-columns: 6ch 1fr 4ch 6ch 5ch 5ch 4ch;
                    gap: var(--sizes-m);
                    font-size: 16pt;
                }
            }
        }
        .bottom-middle {
            grid-area: bottom-middle;

            display: grid;
            justify-items: stretch;
            align-content: stretch;
            gap: var(--sizes-s);
            button {
                img {
                    text-align: center;
                    vertical-align: middle;
                    width: 48px;
                    height: 48px;
                }
            }
        }
        .bottom-right {
            grid-area: bottom-right;
            display:grid;
            grid-template-rows: min-content var(--sizes-m) 150px 1fr 100px;
            grid-template-columns: 20% 1fr 20%;

            grid-template-areas: "pay-method pay-method pay-method"
                                 ". . . "
                                 "form-fields form-fields form-fields"
                                 " . . . "
                                 ". check ."
            ;
            
            .pay-method-pannel {
                grid-area: pay-method;
                display: flex;
                justify-content: center;
                gap:var(--sizes-m);
                button {
                    width: 80px;
                    height: 80px;
                }
            }
            .check {
                grid-area: check;
                display: grid;
                grid-template-columns: 48px 1fr;
                align-items: center;
                padding: var(--sizes-m);
                font-size: 20pt;
                text-decoration: underline;
                img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    & > footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: var(--border-width) solid var(--border-color);
        .info {
            display: flex;
            gap: var(--sizes-m);

            font-family: "Segoe UI Symbol";
            font-size: 14pt;
            .state-item {
                display: flex;
                gap: var(--sizes-xs);
                img {
                    width: var(--sizes-l);
                    height: var(--sizes-l);
                }
            }
        }
        .date-time {
            font-family: "Segoe UI Symbol";
            font-size: 20pt;
        }
    }

    .input-number-form {
        width: 500px;
        height: 500px;
        position: absolute;
        top: calc(50% - 250px);
        left: calc(50% - 250px);
        
        padding: var(--sizes-l);
        background-color: #fff;
        .border;
        
        display: grid;
        
        gap: var(--sizes-s);
        
        grid-template: var(--sizes-xl) 1fr / 1fr 150px;
        grid-template-areas: "input input"
                             "numbers actions"
        ;
        input {
            grid-area: input;
            font-size: var(--sizes-xl);
            text-align: right;
        }
        .number-pannel {
            grid-area: numbers;
            display:grid;
            grid-template: repeat(4, 1fr) / repeat(3, 1fr);
            gap: var(--sizes-s);
            button { 
                font-size: 24pt; 
                background-color: var(--input-form-numbers);
            }
        }
        .action-panel {
            grid-area: actions;
            grid-template-rows: repeat(3, 75px);
            .clear {
                background-color: var(--input-form-clear);
            }
        }
        
    }

}